:root {
  --bg-color-main: white;
  --bg-color-secondary: #f5f9ff;

  --txt-color-main: #021f4f;
  --txt-color-secondary: #1669f0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: var(--bg-color-main);
  color: var(--txt-color-main);
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul, li, a, form, label{
  background-color: transparent;
}

h1, h2, h3, h4, h5, h6, p, b {
  color: inherit;
  background-color: transparent;
}

p {
    font-size: 14px;
    padding: 0;
}

.warning {
    color: var(--negative-feedback);
    padding: 0;
}

.success {
    color: var(--positive-feedback);
    padding: 0;
}

.small {
    font-size: 12px;
    color: var(--main-txt-color);
}

.blue {
  color: var(--main-txt-color);
}

span {
  font-size: 20px;
}

a {
    font-size: 14px;
    color: var(--main-txt-color);
}

b {
  color: var(--txt-color-secondary);
}

.bi-colored {
  color: var(--txt-color-secondary);
}

button {
    outline: transparent;
    border: none;

    font-size: 14px;
    color: var(--txt-color-secondary);
}

h5 {
    font-size: 14px;
    color: var(--txt-color-secondary);
}

h4 {
    font-size: 20px;
    color: var(--txt-color-secondary);
}

h3 {
    font-size: 28px;
    color: var(--txt-color-secondary);
}

h2 {
    font-size: 40px;
    color: var(--txt-color-secondary);
}

h1 {
    font-size: 56px;
    color: var(--txt-color-secondary);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15%;
}

header a {
  font-family: ;
  font-weight: 500;
  text-decoration: none;
  color: var(--txt-color-main);
}

header input {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--txt-color-main);
  padding: 5px;
}

.nav-links {
  list-style: none;
  font-size: 15px;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links a {
  position: relative;
}

.container {
  margin: 20px 15%;

  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-areas:
    "sidebar" "thread-card"
    "thread-card" "thread-card";
}

.container .sidebar .sidebar-card {
  padding: 20px;
  margin: 20px;

  width: 85%;
  height: inherit;

  border-radius: 15px;

  box-shadow: var(--box-shadow);
  background-color: var(--bg-color-secondary);
}

.container .thread-card {
  margin: 20px;
  padding: 20px;

  width: 95%;

  border-radius: 15px;

  box-shadow: var(--box-shadow);
  background-color: var(--bg-color-secondary);
}

.sidebar ul {
  list-style: square;
  list-style-position: inside;
  color: var(--txt-color-main);
  padding: 10px;
  background-color: transparent;
}

ul li a {
  text-decoration: none;
}

.underline-hover {
  text-decoration: none;
}

.underline-hover:hover {
  text-decoration: underline;
}

.btn {
  padding: 10px 15px;
  margin: 20px 10px 0 0;

  border-radius: 13px;

  text-decoration: none;

  background-color: var(--bg-color-main);
  box-shadow: var(--box-shadow);
  color: var(--txt-color-secondary);

  transition: 0.4s;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--bg-color-secondary);
}

.btn-secondary {
  padding: 10px 15px;
  margin: 20px 0 20px 0;

  border-radius: 13px;

  text-decoration: none;

  background-color: var(--bg-color-secondary);
  box-shadow: var(--box-shadow);
  color: var(--txt-color-secondary);

  transition: 0.4s;
}

.btn-secondary:hover {
  background-color: var(--bg-color-main);
  color: var(--txt-color-secondary);
}

.icon-hover {
  color: var(--txt-color-main);
}

.icon-hover:hover {
  color: var(--txt-color-secondary);
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;

  margin: 20px 15%;
}

.login-container .login-card {
  margin: 20px;
  padding: 20px;
  justify-content: left;

  width: 250px;

  border-radius: 15px;

  box-shadow: var(--box-shadow);
  background-color: var(--bg-color-secondary);
}

.login-container .login-card .input {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--txt-color-main);

  width: 90%;

  padding: 5px;
  margin: 10px;
  background-color: transparent;
}

footer {
  margin: auto 15% 20px 15%;
  display: flex;
  justify-content: space-between;
}

footer a {
  margin: 0 5px;
}
